  <!-- Footer -->
    <footer class="footer-section" id="contact">
        
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-md-6">
                    <h5 class="footer-brand mb-3">GlowAura</h5>
                    <p class="footer-tagline mb-3">Luxury skincare for your natural radiance.</p>
                    <div class="d-flex gap-3">
                        <i class="bi bi-facebook fs-5"></i>
                        <i class="bi bi-instagram fs-5"></i>
                        <i class="bi bi-twitter fs-5"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="footer-title mb-3">Shop</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#" class="footer-link">All Products</a></li>
                        <li class="mb-2"><a href="#" class="footer-link">Facewash</a></li>
                        <li class="mb-2"><a href="#" class="footer-link">Moisturizer</a></li>
                        <li class="mb-2"><a href="#" class="footer-link">Sunscreen</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="footer-title mb-3">Account</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#" class="footer-link">My Account</a></li>
                        <li class="mb-2"><a href="#" class="footer-link">Orders</a></li>
                        <li class="mb-2"><a href="#" class="footer-link">Wishlist</a></li>
                        <li class="mb-2"><a href="#" class="footer-link">Referral</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="footer-title mb-3">Information</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#" class="footer-link">About Us</a></li>
                        <li class="mb-2"><a href="#" class="footer-link">Contact Us</a></li>
                        <li class="mb-2"><a href="#" class="footer-link">Shipping & Returns</a></li>
                        <li class="mb-2"><a href="#" class="footer-link">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                © 2025 GlowAura. All rights reserved.
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>