
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlowAura - Luxury Skincare</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Navigation --> 
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
        <div class="container-fluid bg-light ps-5 pe-5">
            <a class="navbar-brand" href="/">GlowAura</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/products" >Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pageNotFound">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                </ul>
                <div class="d-flex gap-4 align-items-center">
                  
                     <div class="icon-wrapper" >
                        <i class="bi bi-heart fs-3"></i>
                        <span class="cart-badge">2</span>
                    </div>
                    <div class="icon-wrapper" >
                    <i class="bi bi-cart3 fs-3" ></i>
                    
                    </div>

                    <div class="d-flex gap-2">  
                        <%if(locals.user){%>
                          <div class="dropdown">
                              <div class="profile-circle" data-bs-toggle="dropdown">
                                  <%= locals.user.name.substring(0, 2).toUpperCase() %>
                             </div>

                             <ul class="dropdown-menu dropdown-menu-end">
                               <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                          </div>
                        <%} else {%>
                            <a href="/signup" class="btn btn-shop btn-outline">Sign Up</a>
                            <a href="/signin" class="btn btn-shop btn-outline">Sign In</a>                       
                    </div>
              <%}%>
                </div>
            </div>
        </div>
    </nav>