<%- include('../../views/partials/admin/header.ejs') %>
<div class="page-content">
      
      <div class="d-flex justify-content-between align-items-start mb-3">
      <div>
        <h4 class="fw-semibold mb-1">Dashboard</h4>
        <p class="text-muted mb-0" style="font-size: 1.2rem;">
          Welcome to your GlowAura admin dashboard
        </p>
      </div>