    .badge {
  border-radius: 6px;
  padding: 6px 10px;
  font-weight: 500;
}

.table td {
  vertical-align: middle;
  font-size: 17px;
}

.table thead th {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .4px;
}

.form-check-input {
  cursor: pointer;
}

.rounded-pill {
  border-radius: 30px !important;
}
